<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <ejb-local-ref>
        <ejb-ref-name>IngredientEntitySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.IngredientEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#IngredientEntitySessionBean</ejb-link>
        <ejb-ref-name>StaffEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.StaffEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#StaffEntitySessionBean</ejb-link>
    </ejb-local-ref>-->
    <!-- <ejb-local-ref>
        <ejb-ref-name>StaffEntitySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.StaffEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#StaffEntitySessionBean</ejb-link>
    </ejb-local-ref> -->
    <ejb-local-ref>
        <ejb-ref-name>ReviewEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.ReviewEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#ReviewEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReviewEntitySessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.ReviewEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#ReviewEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SaleTransactionEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.SaleTransactionEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#SaleTransactionEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OTUserEntitySessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.OTUserEntitySessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#OTUserEntitySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PromoSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.PromoSessionBeanLocal</local>
        <ejb-link>OTFood-ejb.jar#PromoSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
