/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 Mar, 2021, 8:40:36 PM
    Author     : Mitsuki
*/

* {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

.images {
    width: 143px;
    height: 95px;
    object-fit: contain;
}
.container-sub {
    flex-direction: column;
    display: flex;
    padding: 1.25rem 0 3.125rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: block;
    height: 130px;
    width: 100%;
    flex-shrink: 0;
}

.header-smaller {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.header-section {
    /*    align-items: center;*/
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#opening {
    font-weight: 300;
    font-size: 40;
    color: #ece3a5;
    text-align: center;
}
#description {
    text-align: center;
    color: antiquewhite;
    align-content: center;
}

.content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: .125rem;
    /*    background-color: red;*/
}

.content-smaller {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.content-dragdrop-table-column {
    flex-direction: column;
    min-height: 100%;
}

.row-container {
    flex-direction: row;
    position: relative;
    padding: 15px 0;
}

.dragdrop-row {
    height: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

.dragdrop-row-items {
    /*    position: relative;*/
    /*    flex-direction: row;*/
    display: flex;
    align-items: flex-start;
    height: 50%;
}

.draggables {
    width: 50%;
    padding-right: 5px;
    -webkit-box-flex: 1;

}

.droppables {
    width: 50%;

    /*    width: 17.5rem;*/
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;

}

.contain-footer {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.inputs {
    padding-top: 10px;
    padding-bottom: 10px;
}



