/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 14 Mar, 2021, 4:18:05 PM
    Author     : Mitsuki
*/

h3 {
    color: orange;
    font-size: 36px;
    font-family: Andale Mono, monospace;
}

.page-footer {
    margin-top: 10vw;
    min-width: 75rem;
    /*    border-top: 4px solid #ee4d2d;*/
    border-top: 4px solid #ffaa0d;
    background-color: #fff;
    color: rgba(0,0,0,.54);
}
