* {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    display: flex;
    padding: 1.25rem 0 3.125rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.sidebar-menu {
    display: block;
    width: 180px;
    flex-shrink: 0;
    /*    flex-direction: column;*/
}

.content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: .125rem;
}

.user-side-brief {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
    width: 100%;
    height: 50px;
}

.user-side-brief-avatar #avatar-placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.user-side-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
}

.user-side-menu {
    list-style: none;
    padding: 0;
    margin: 27px 0 0;
    cursor: pointer;
}

.content-smaller {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.my-acct-section {
    flex-direction: column;
    padding: 0 30px 20px;
    overflow: visible;
    display: flex;
}

.my-acct-section-header {
    /*    align-items: center;*/
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.my-acct-section-header #header {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #87CEEB;
    align-items: flex-start;
}

.my-acct-section-header #subtitle {
    font-size: .875rem;
    line-height: 1.0625rem;
    margin-top: 3px;
    color: #87CEEB;
}

.my-acct-profile {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
}

.my-acct-profile-left {
    -webkit-box-flex: 1;
    flex: 1;
    padding-right: 50px;
}

.my-acct-profile-right {
    width: 17.5rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.my-acct-profile .input-with-label {
    margin-bottom: 30px;
}

.input-with-label-wrapper {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.input-with-label-label {
    width: 20%;
    text-align: right;
    color: #87CEEB;
    overflow: hidden;
    font-size: 20;
    font-weight: lighter;
}

.input-with-label-content {
    width: 80%;
    box-sizing: border-box;
    padding-left: 1.25rem;
    font-size: 15;
}

.my-acct-profile-left-edit {
    margin-bottom: 60px;
    padding-left: calc(20% + 20px);
}

#dialogUpdateDetails .label-holder {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 130%;

}

.page-footer {
    margin-top: 20vw;
    min-width: 75rem;
    /*    border-top: 4px solid #ee4d2d;*/
    border-top: 4px solid #ffaa0d;
    background-color: #fff;
    color: rgba(0,0,0,.54);
}

.profile-pic-uploader {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.profile-pic-uploader-avatar {
    height: 100px;
    width: 100px;
    margin: 20px 0;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic-uploader-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #efefef;
    overflow: hidden;
    position: relative;
}

.profile-pic-uploader-button {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}

.profile-pic-uploader-description {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.description {
    color: #ccffff;
    font-size: .875rem;
    line-height: 1.25rem;
}



