/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Mar, 2021, 1:13:42 AM
    Author     : yuntiangu
*/

.viewBentoSingleImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 25%;
}

viewBentoSingleImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 50%;
}